<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home Automation UI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <script src="js/sensordata.js"></script>
    <script async src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.7/all/gauge.min.js" onload="initGauge()"></script>
</head>
<body>
<h1>Welcome to Home Automation UI</h1>
    <canvas id="temperature-gauge"></canvas>
    <canvas id="humidity-gauge"></canvas>
</body>
</html>